@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap");
@import "node_modules/normalize.css/normalize";

$color-dark-greay: #424242;
$color-orange: #ef5f3c;
$color-light-grey: #fafafa;
$color-light-grey2: #dddddd;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
.card {
  width: 350px;
  font-family: "Merriweather Sans", sans-serif;

  .card--title {
    background-color: $color-dark-greay;
    padding: 15px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;

    span {
      font-weight: 400;
    }

    .arrow {
      position: relative;
      top: 41px;
    }
  }
  .card-body {
    margin-top: 15px;
    border: solid 1px $color-light-grey2;
    box-shadow: 0px 2px 2px 0px #efeded;
  }
}

.contents {
  padding: 13px;
}

.progress-bar {
  background-color: $color-light-grey;
  border-bottom: solid 1px $color-light-grey2;
  // box-shadow: ;
  .progress-bar-fill {
    height: 12px;
    width: 70%;
    background-color: $color-orange;
  }
}

.text--orange {
  color: $color-orange;
}

.text--blue {
  color: #2aa5d6;
}

.text--off-white {
  color: #e5e5e5;
}

.text--white {
  color: #ffffff;
}

.text--grey {
  color: #858585;
}

.button--green {
  background-color: #1dbc2c;
}
.button--light-grey {
  background-color: $color-light-grey;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid $color-dark-greay;
}
