@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "node_modules/normalize.css/normalize";

$color-dark-grey: #424242;
$color-dark-grey2: #848484;
$color-orange: #ef5f3c;
$color-light-grey: #fafafa;
$color-light-grey2: #dddddd;
$color-blue: #2aa5d6;
$color-green: #1dbc2c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
.card {
  width: 350px;
  font-family: "Merriweather Sans", sans-serif;

  .card--title {
    background-color: $color-dark-greay;
    padding: 15px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;

    span {
      font-weight: 400;
    }

    .arrow {
      position: relative;
      top: 41px;
    }
  }
  .card-body {
    margin-top: 15px;
    border: solid 1px $color-light-grey2;
    box-shadow: 0px 2px 2px 0px #efeded;

    .contents {
      font-size: 13px;
      line-height: 20px;
      color: $color-dark-grey2;
      p > span {
        font-weight: bold;
      }
      .days {
        margin: 10px 0;
        & > span {
          color: $color-orange;
        }
      }
    }
  }
}

.contents {
  padding: 13px;
}

.progress-bar {
  background-color: $color-light-grey;
  border-bottom: solid 1px $color-light-grey2;
  .progress-bar-fill {
    height: 12px;
    width: 70%;
    background-color: $color-orange;
  }
}

.donate {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > span {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    padding: 10px;
    border: solid 1px $color-light-grey2;
    border-radius: 3px;
    width: 47.5%;
    input {
      border: 0;
      outline: none;
      width: 90%;
    }
  }
  .button-give {
    background-color: $color-green;
    box-shadow: 0px 2px 2px 0px darken($color-green, 5);
    border: solid 1px darken($color-green, 5);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    outline: none;
    width: 47.5%;
  }
  .link {
    margin-top: 10px;
    flex-basis: 100%;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  button {
    padding: 10px;
    background-color: $color-light-grey;
    color: $color-dark-grey2;
    border: solid 1px $color-light-grey2;
    border-radius: 3px;
    cursor: pointer;
    width: 47.5%;
    outline: none;
    box-shadow: 0px 2px 2px 0px #efeded;
  }
}

.text--orange {
  color: $color-orange;
}

.text--blue {
  color: #2aa5d6;
}

.text--off-white {
  color: #e5e5e5;
}

.text--white {
  color: #ffffff;
}

.text--grey {
  color: #858585;
}

.button--green {
  background-color: #1dbc2c;
}
.button--light-grey {
  background-color: $color-light-grey;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid $color-dark-grey;
}
